.mybtn {
  cursor: pointer;
  padding: inherit;
  border: none;
  background-color: #f5f5f5;
  color: rgba(29, 24, 24, 0.863);
  width: 12vw;
  font-size: 1rem;
}

.mybtnactive {
  font-size: 1rem;
  cursor: pointer;
  padding: inherit;
  border: none;
  background-color: #f5f5f5;
  color: rgba(29, 24, 24, 0.863);
  border-bottom: 5px solid #58e23c;
  width: 12vw;
}
.btn-stack {
  display: flex;
  justify-content: space-around;
  background-color: #fce8e8;
  padding: 10px;
  position: relative;
  top: 1.25rem;
}
.nabtn-left {
  padding: 15px 30px;
  background: transparent;
  color: rgba(230, 126, 34, 1);
  font-size: 45px;
  border: none;
  position: absolute;
  bottom: 20rem;
  left: -1rem;
}
.nabtn-right {
  padding: 15px 30px;
  background: transparent;
  color: rgba(230, 126, 34, 1);
  font-size: 45px;
  border: none;
  position: absolute;
  right: -1rem;
  bottom: 20rem;
}

@media (max-width: 678px) {
  .mybtn {
    width: auto;
    font-size: 12px;
    padding: 10px;
  }
  .mybtnactive {
    padding: 10px;
    width: auto;
    font-size: 12px;
  }
  .nabtn-right,
  .nabtn-left {
    bottom: 71rem;
  }
}
