#navMenu {
    display: none;
}

.Collapsible__contentOuter {}

span.Collapsible__trigger.is-closed,
span.Collapsible__trigger.is-open {
    background: #f0f0f0;
    color: #000;
    padding: 0.3rem 0rem;
}

.Collapsible {
    padding: 0.3rem 1.5rem;
    margin: .9rem 0rem;
    background: #f0f0f0;
}

.sub-drop {
    padding: .9rem 1rem;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
}

.sub-title {
    color: rgba(0, 0, 0, 0.9);
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 10px;
    background: lightgray;
    padding: .2rem 0rem 0.5rem 1rem;
}

.sub-drop a {
    font-size: 1rem;
    font-weight: 500;
    margin-top: .7rem;
    color: rgba(0, 0, 0, 0.7);
}

@media(min-width: 786px) {
    #navMenu {
        display: block;
    }
    #navMob {
        display: none;
    }
    .sub-menu {
        margin: .5rem 0rem;
        padding: 10px 12px;
        width: 17vw;
        height: 44px;
    }
    .sub-menu-list a {
        margin-top: .5rem;
        padding: .5rem 1rem;
    }
    .sub-icon {
        display: none;
    }
    .sub-menu:hover .sub-icon {
        display: block;
        position: relative;
        top: -24px;
        left: 10rem;
        color: white;
        font-size: 26px;
    }
    a.navbar-item:hover .main-sub-menu {
        display: flex;
        flex-direction: column;
    }
    .main-sub-menu:hover .sub-menu {
        display: block;
    }
    .sub-menu:hover {
        background: #23689b;
        color: white;
    }
    .default-active {
        position: absolute;
        left: 17rem;
        display: flex;
        flex-direction: column;
        background: white;
        width: 86vw;
        height: 60vh;
        top: 0rem;
        z-index: 0;
    }
    .default-active a {
        margin-top: .5rem;
        padding: .5rem 1rem;
    }
}