#navMenu{
	display:none;
}

@media(min-width: 786px)
{
#navMenu{
	display:block;
}
#navMob{
	display: none;
}
.sub-menu {
	margin: .5rem 0rem;
	padding: 10px 12px;
	width: 17vw;
	height: 44px;
}
.sub-menu-list a {
	margin-top: .5rem;
	padding: .5rem 1rem;
}
.sub-icon {
	display: none;
}
.sub-menu:hover .sub-icon {
	display: block;
	position: relative;
	top: -24px;
	left: 10rem;
	color: white;
	font-size: 26px;
}

a.navbar-item:hover .main-sub-menu {
	display: flex;
	flex-direction: column;
}
.main-sub-menu:hover .sub-menu {
	display: block;
}

.sub-menu:hover {
	background: #23689b;
	color: white;
}
.default-active {
	position: absolute;
	left: 17rem;
	display: flex;
	flex-direction: column;
	background: white;
	width: 86vw;
	height: 60vh;
	top: 0rem;
	z-index: 0;
}
.default-active a {
	margin-top: .5rem;
	padding: .5rem 1rem;
}

}